/* Body - General */

html,
body {
  font-family: "Raleway", "sans-serif";
  font-weight: 300;
  width: auto;
  padding: 0;
  margin: 0;
  color: black;
}

h1 {
  font-weight: 700;
  margin-bottom: 0;
  font-size: 1.4em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
}

#header img {
  padding-left: 40px;
  padding-top: 25px;
}

#top-menu,
#menu {
  display: flex;
}

ul {
  list-style-type: none;
  display: flex;
  margin-top: 0;
}

nav ul li {
  padding-right: 20px;
  padding-top: 40px;
}

nav ul li a {
  padding: 45px 25px 0;
}

nav ul li a:hover {
  color: #0065fc;
  border-top: 2px solid;
}

#inscription {
  color: #0065fc;
  font-weight: bold;
  padding: 40px 70px 0 30px;
}

#inscription :hover {
  border-radius: 0 0 5px 5px;
  background-color: #deebff;
  padding: 50px 0 0 0;
}

/* Section Recherche et Filtres */

.container-section1 {
  padding-left: 40px;
}

.container p {
  margin-top: 10px;
}

form {
  display: flex;
  padding-top: 15px;
  padding-bottom: 30px;
}

.gps {
  background-color: #f2f2f2;
  padding: 15px 20px 16px 20px;
  border-radius: 15px 0 0 15px;
}

#localisation {
  height: 50px;
  width: 226px;
  border: 1px #f2f2f2 solid;
  border-right: transparent;
  border-left: transparent;
  outline: transparent;
  font-size: 1.1em;
}

#localisation::placeholder {
  font-family: "Raleway", "sans-serif";
  color: black;
  font-weight: 700;
  padding: 10px;
}

.btn {
  background-color: #0065fc;
  color: white;
  height: 50px;
  width: 134px;
  font-family: "Raleway", "sans-serif";
  font-weight: 500;
  font-size: 1.1em;
  border: transparent;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

#filter {
  display: flex;
  flex-wrap: wrap;
}

#filter h3 {
  padding: 0 30px 0 0;
}

.filters {
  display: flex;
  margin-right: 25px;
  margin-top: auto;
  margin-bottom: auto;
  border: 2px #d0d0d0 solid;
  border-radius: 35px;
  cursor: pointer;
}

.filters i {
  font-size: large;
  border: 1px solid transparent;
  border-radius: 35px;
  padding: 15px;
  color: #0065fc;
  background-color: #deebff;
}

.filters .fa-child {
  padding-left: 18px;
  padding-right: 18px;
}

.filters p {
  font-size: 1.1em;
  font-weight: bold;
  margin: auto;
  padding: 8px 20px 8px 12px;
  border-radius: 35px;
}

.filters:hover {
  background-color: #deebff;
  color: #0065fc;
}

#info {
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
}

#info i {
  color: #0065fc;
  font-size: small;
  border: 1px #d0d0d0 solid;
  border-radius: 30px;
  padding: 5px 9px;
  margin-top: auto;
  margin-bottom: auto;
}

#info p {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

/* Section Hébergements */

.container-hebergements-pop {
  display: flex;
  padding: 0 25px 40px 25px;
  justify-content: space-around;
}

.container-hebergements {
  width: 61%;
  border-radius: 20px;
  padding: 20px 25px 10px 25px;
  background-color: #f2f2f2;
}

#titre-hebergements {
  margin: 25px 0 25px 15px;
}

#hebergements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.vignettes-hebergements {
  width: 235px;
  height: 189px;
  margin-bottom: 30px;
  border: 5px white solid;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px #d0d0d0;
}

.vignettes-hebergements img {
  width: 235px;
  height: 114px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.vignettes-hebergements h3 {
  margin: 5px 10px 0 10px;
  font-size: 1em;
}

.vignettes-hebergements p {
  margin: 5px 10px 0 10px;
  font-size: 0.9em;
}

.note,
.note-pop {
  color: #0065fc;
  display: flex;
  font-size: 12px;
}

.note {
  padding: 9px 0 0 10px;
}

.empty-star {
  color: #d0d0d0;
}

.vignettes-hebergements i {
  margin-right: 2px;
}

.vignettes-hebergements:hover {
  box-shadow: 0px 0px 30px #c2c2c2;
}

#more {
  font-size: 1.1em;
  font-weight: 600;
  padding: 15px 0 0 20px;
}

/* Section les plus populaires */

.container-populaires {
  width: 27%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px 25px 10px 25px;
}

#titre-populaires {
  display: flex;
  justify-content: space-between;
}

#titre-populaires h2 {
  margin: 25px 0 25px 15px;
  padding-bottom: 10px;
}

#titre-populaires i {
  padding: 28px 10px 20px;
  font-size: 1.4em;
}

#populaires {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vignettes-populaires {
  width: 333px;
  height: 134px;
  margin-bottom: 30px;
  border: 5px white solid;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px #d0d0d0;
}

.vignettes-populaires img {
  width: 127px;
  height: 134px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.vignettes-populaires a {
  display: flex;
}

.description-populaires {
  margin: 0 25px 0 20px;
}

.vignettes-populaires h3 {
  margin: 10px 0 0 0;
  font-size: 1em;
}

.vignettes-populaires p {
  margin-top: 7px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

.description-populaires i {
  margin-right: 2px;
}

.vignettes-populaires:hover {
  box-shadow: 0px 0px 30px #c2c2c2;
}

/* Section Activités */

#titre-activites {
  padding-left: 42px;
}

#container-activites {
  display: flex;
  padding: 10px 20px 60px 20px;
  justify-content: space-around;
}

#container-activites h3 {
  margin-left: 20px;
  font-size: 1em;
}

.large-vignette-act {
  width: 302px;
  height: 446px;
  border-radius: 20px;
  box-shadow: 0 0 10px #d0d0d0;
}

.large-vignette-act img {
  width: 302px;
  height: 389px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.box-2vignettes {
  width: 302px;
  height: 446px;
}

.small-vignette-act {
  border-radius: 20px;
  box-shadow: 0 0 10px #d0d0d0;
}

.small-vignette-act img {
  width: 302px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.activite2 {
  height: 235px;
}

.activite2 img {
  height: 179px;
}

.activite3 {
  height: 164px;
  margin-top: 45px;
}

.activite3 img {
  height: 108px;
}

.activite5 {
  height: 196px;
}

.activite5 img {
  height: 138px;
}

.activite6 {
  height: 209px;
  margin-top: 39px;
}

.activite6 img {
  height: 153px;
}

.large-vignette-act:hover,
#small-vignette-act:hover {
  box-shadow: 0px 0px 30px #c2c2c2;
}

/* Footer */

footer {
  display: flex;
  background-color: #f2f2f2;
  padding: 40px 0 50px 0;
}

#about,
#nos-hebergements,
#assistance {
  display: flex;
  flex-direction: column;
  width: 33%;
}

#about {
  padding-left: 40px;
}

#assistance {
  padding-left: 10px;
}

footer a {
  font-size: 1em;
  padding: 7px 0 10px 0;
}
